@import 'fonts.css';

/* ===================== ROOT SETTINGS start =======================*/

:root{
  --f100: 'Raleway Thin';
  --f300: 'Raleway Light';
  --f400: 'Raleway Regular';
  --f700: 'Raleway Bold';
  --f900: 'Raleway Black';
  --f700-roboto: 'Roboto Bold';
  --green-logo: #4e9f0d;
  --green-border: #62be19;
  --green: #62be17;
  --black: #060002;
  --green-75: rgba(106, 207, 23, 0.75);
  --green-90: rgba(106, 207, 23, 0.9);
  --grey-p: #dedede;
  --white: #fff;
  --grey:#7a7a7a;
  --col-1: calc(100%/12*1);
  --col-2: calc(100%/12*2);
  --col-3: calc(100%/12*3);
  --col-4: calc(100%/12*4);
  --col-5: calc(100%/12*5);
  --col-6: calc(100%/12*6);
  --col-7: calc(100%/12*7);
  --col-8: calc(100%/12*8);
  --col-9: calc(100%/12*9);
  --col-10: calc(100%/12*10);
  --col-11: calc(100%/12*11);
  --col-12: calc(100%/12*12);
}
*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}
.container{
   max-width: 1140px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}
.row{
   display: flex;
   flex-wrap: wrap;
   margin-left: -15px;
   margin-right: -15px;
}
.justify-content-center{
   justify-content: center;
}
.justify-content-between{
   justify-content: space-between;
}
.justify-content-start{
   justify-content: flex-start;
}
.align-items-center{
   align-items: center;
}
.align-items-start{
   align-items: flex-start;
}
.flex-column{
   flex-direction: column;
}
.d-flex{
   display: flex;
   flex-wrap: wrap;
}
.col-4{
   width: var(--col-4);
   padding: 0 15px;
}
.col-12{
   width: var(--col-12);
   padding: 0 15px;
}
body{
   background: var(--black);
}
/* ===================== ROOT SETTINGS end =========================*/  
/* ======================= HEADER start ============================*/

header{
   background: url(../images/bg_img.jpg)no-repeat center /cover;
}
.logo{
   background: var(--green-logo);
   border: 3px solid var(--green-border);
   border-radius: 4px;
   color: var(--white);
   padding: 8px 18px 7px 18px;
   box-shadow: inset 0px 0px 5px rgba(30, 30, 30, 0.15);
   font-family: var(--f700);
   font-size: 24px;
   text-transform: uppercase;
}
nav ul li a{
   display: block;
   padding: 41px 26px 34px 26px;
   color: var(--green);
   font-family: var(--f300);
   font-size: 20px;
}
nav ul li a.gutters{
   padding: 37px 11px 29px 11px;
}
nav ul li a:hover{
   background: var(--green-75);
   color: var(--white);
}
nav ul li a.gutters span{
   display: inline-block;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   color: var(--green);
   background: var(--white);
   text-align: center;
   font-family: var(--f300);
   font-size: 20px;
}
.header-content{
   padding: 150px 0;
}
.header-content h1{
   font-family: var(--f900);
   font-size: 72px;
   color: var(--green);
   text-transform: uppercase;
}
.header-content .header-type{
   font-family: var(--f400);
   font-size: 36px;
   color: var(--green);
   text-transform: uppercase;
   margin-bottom: 30px;
}
.header-content p{
   font-family: var(--f400);
   font-size: 18px;
   color: var(--grey-p);
   margin-bottom: 75px;
}
.header-content .header-price{
   /* display: inline-block; */
   padding: 20px 90px;
   color: var(--white);
   background: var(--green-75);
   font-family: var(--f100);
   font-size: 60px;
}

/* ========================= HEADER end ============================*/
/* ========================= MAIN start ============================*/
main{
   padding: 50px 0 100px 0;
}
.main-ul{
   margin-bottom: 69px;
}
.main-link{
   font-family: var(--f700);
   font-size: 20px;
   color: var(--grey);
   margin-right: 24px;
}
.main-link:hover{
   color: var(--green);
}
.link-active{
   color: var(--green);
}
.main-img img{
   width: 100%;
   height: auto;
}
.main-img{
   margin-bottom: 31px;
   position: relative;
   display: flex;
}
.main-img span{
   position: absolute;
   bottom: 0px;
   left: 0;
   display: inline-block;
   padding: 21px 58px 20px 58px;
   font-family: var(--f400);
   font-size: 24px;
   color: var(--white);
   background: var(--green-75);
}
.main-img a{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--green-90);
   color: var(--white);
   font-family: var(--f700);
   font-size: 24px;
   display: none;
   justify-content: center;
   align-items: center;
}
.main-menu section h4{
   font-family: var(--f700);
   font-size: 24px;
   color: var(--green);
   margin-bottom: 14px;
}
.main-menu section p{
   font-family: var(--f400);
   font-size: 16px;
   color: var(--white);
}
.main-menu{
   margin-bottom: 50px;
}
.main-img:hover .link-hover{
   display: flex;
}
.main-img:hover .img-price{
   display: none;
}
/* ====================== MAIN end ============= */
/* ====================== ARTICLE start ============= */
article{
   padding: 50px 0 100px 0;
   background: url(../images/section_bg.jpg)no-repeat center center /cover;
}
article h2{
   font-family: var(--f700);
   color: var(--green);
   font-size: 36px;
   text-align: center;
}
article h2::after{
   content: '';
   display: block;
   width: 200px;
   height: 1px;
   background: var(--green);
   margin: 20px auto;
}
article p{
   font-family: var(--f400);
   font-size: 18px;
   color: var(--white);
}
.first-p{
   margin: 50px 0 30px 0;
}
/* ===================== ARTICLE end ========= */
/* ===================== FOOTER start ========= */
footer h4{
   padding: 50px 0 58px 0;
   background: var(--white);
   text-align: center;
   font-family: var(--f700);
   font-size: 36px;
   color: var(--green);
}
.footer-down{
   background: var(--black);
   padding: 40px 0 50px;
}
.tel{
   font-family: var(--f700-roboto);
   font-size: 24px;
   color: var(--green);
}
.footer-down-info{
   margin-bottom: 50px;
}
.footer-nav li a{
   padding: 0 26px;
   font-family: var(--f300);
   color: var(--white);
   font-size: 18px;
}
.footer-nav{
   margin-bottom: 45px;
}
.footer-descript p{
   font-family: var(--f300);
   color: var(--white);
   font-size: 16px;
   text-align: center;
}






@media (max-width: 992px) {
   .col-md-6{
      width: 100%;
      max-width: var(--col-6);
   }
}
@media (max-width: 768px) {
   .col-sm-12{
      width: 100%;
      max-width: var(--col-12);
   }
   .justify-sm-center{
      justify-content: center;
   }
   .header-content h1{
      font-size: 50px;
   }
   .header-content .header-price{
    padding: 12px 30px;
    font-size: 45px;
   }
   .main-menu section{
      padding: 8px 0;
   }
   .main-menu{
      margin-bottom: 0;
   }
   .d-none{
      display: none;
   }
}